body{
	background-image: url(http://eskipaper.com/images/free-simple-phone-backgrounds-1.jpg);
}
.PersonalInfo{
	margin:20px;
	width:60%;
	background-image: url(https://lh3.googleusercontent.com/-ZqUEzS0GJjk/T6QM4EWK1fI/AAAAAAAAAGE/OHNjHYK9Mf8/s128/BG-4.png);
	border-radius: 10px;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
#right{
margin:20px;
border-color: white;
}