body{text-align: center;
	background-image: url("../images/background.jpg");
}
h1{

	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 55px;
	font-weight: bold;
}
p{
font-family: "Courier New", Courier, monospace;
font-size: 25px;
	font-weight: italic;
}
#staff{
	padding-right: 10%;
	padding-left: 10%;
}

.btn{
	background-color: #66ffcc;
	bottom: 0;
	margin:85px;
	padding: 5%;
	font-size: 30px;
	font-weight: bold;
	color:#001f3f;
}